@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(222, 26%, 31%);
  padding: 30px 24px 30px 31px;
  font-family: "League Spartan", serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 63px;
}

header h1 {
  font-size: 32px;
  line-height: 29.44px;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 1);
}

h2 {
  position: relative;
  top: 12px;
  left: 43px;
  font-size: 12px;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 1);
  line-height: 11px;
}

.p-section {
  display: flex;
  gap: 11px;
  position: relative;
  left: 13px;
  color: hsla(0, 0%, 100%, 1);
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  width: 71px;
  height: 26px;
  border-radius: 13px;
  border: 1px solid hsla(223, 31%, 20%, 1);
  background-color: hsla(223, 31%, 20%, 1);
  margin-top: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: hsla(6, 63%, 50%, 1);
  margin: 5px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.display {
  width: 327px;
  height: 88px;
  border-radius: 10px;
  border: 1px solid hsla(224, 36%, 15%, 1);
  background-color: hsla(224, 36%, 15%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-size: 40px;
  line-height: 38.8px;
  font-weight: 700;
  text-align: right;
  padding: 0 24px 0 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.keys-container {
  width: 327px;
  background-color: hsla(224, 30%, 21%, 1);
  border: 1px solid hsla(224, 30%, 21%, 1);
  border-radius: 10px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px;
  width: 100%;
  gap: 13px;
}

.keys .default {
  width: 60px;
  height: 64px;
  border: 1px solid hsla(31, 24%, 89%, 1);
  border-radius: 5px;
  background-color: hsla(31, 24%, 89%, 1);
  color: hsla(221, 14%, 31%, 1);
  font-size: 32px;
  line-height: 29.44px;
  font-weight: 700;
  box-shadow: 0px 5px #a79e91;
}

.delete {
  color: hsla(0, 0%, 100%, 1);
  border: 1px solid hsla(225, 21%, 49%, 1);
  border-radius: 5px;
  background-color: hsla(225, 21%, 49%, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 18.4px;
  box-shadow: 0px 5px hsla(224, 28%, 35%, 1);
}

.reset {
  color: hsla(0, 0%, 100%, 1);
  border-radius: 5px;
  background-color: hsla(225, 21%, 49%, 1);
  border: 1px solid hsla(225, 21%, 49%, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 18.4px;
  width: 133px;
  height: 64px;
  box-shadow: 0px 5px hsla(224, 28%, 35%, 1);
}

.calculate {
  width: 133px;
  height: 64px;
  border-radius: 5px;
  border: 1px solid hsla(6, 63%, 50%, 1);
  background-color: hsla(6, 63%, 50%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-size: 20px;
  line-height: 18.4px;
  box-shadow: 0px 5px hsla(6, 70%, 34%, 1);
}

.last-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 24px;
}

.background-2 {
  background-color: hsl(0, 0%, 90%);
}

.slider-2 {
  border: 1px solid hsla(0, 5%, 81%, 1);
  background-color: hsla(0, 5%, 81%, 1);
}

.display-2 {
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
}

.h1-2 {
  color: #36362c;
}

.h2-2 {
  color: #36362c;
}

.slider-2 {
  background-color: #d2cdcd;
}

.p-section2 {
  color: #36362c;
}

.display2 {
  background-color: hsl(0, 0%, 93%);
  color: #36362c;
  border: 1px solid hsl(0, 0%, 93%);
}

.keys-container2 {
  background-color: hsl(0, 5%, 81%);
  border: 1px solid hsl(0, 5%, 81%);
}

.delete2 {
  background-color: #378187;
  box-shadow: 0px 5px #378187;
  border: 1px solid #378187;
}

.reset2 {
  background-color: #378187;
  box-shadow: 0px 5px #378187;
  border: 1px solid #378187;
}

.calculate2 {
  background-color: #c85402;
  border: 1px oslid #c85402;
  box-shadow: 0px 5px #c85402;
}

.background-3 {
  background-color: hsl(268, 75%, 9%);
}

.display3 {
  background-color: #1e0936;
  border: 1px solid #1e0936;
  color: #ffe53d;
}

.h1-3 {
  color: #ffe53d;
}

.h2-3 {
  color: #ffe53d;
}

.slider-3 {
  background-color: #1e0936;
  border: 1px solid #1e0936;
}

.slider-3::-webkit-slider-thumb {
  background-color: #00ded0;
}

.p-section3 {
  color: #ffe53d;
}

.keys-container3 {
  background-color: #1e0936;
  border: 1px solid #1e0936;
}

.delete3 {
  background-color: #56077c;
  border: 1px solid #56077c;
  box-shadow: 0px 5px #be15f4;
}

.reset3 {
  background-color: #56077c;
  border: 1px solid #56077c;
  box-shadow: 0px 5px #be15f4;
}

.calculate3 {
  background-color: #00ded0;
  border: 1px solid #00ded0;
  box-shadow: 0px 5px #6cf9f1;
  color: #1a2327;
}

.origin3 {
  background-color: #331c4d;
}
